<h1>Show Movie</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @movie.title %>
  </li>

  <li>
    <strong>Release date:</strong>
    <%= @movie.release_date %>
  </li>

  <li>
    <strong>Gender:</strong>
    <%= @movie.gender %>
  </li>

  <li>
    <strong>Price:</strong>
    <%= @movie.price %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.movie_path(@conn, :edit, @movie) %></span>
<span><%= link "Back", to: Routes.movie_path(@conn, :index) %></span>
